---
import '../styles/global.css'
import myPhoto from '../assets/sleepy-frieren-icon.jpg';
---

<html lang="en">
  <head>
    <title>My Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<header class="container mx-auto p-10">
		<img src={myPhoto.src} alt="sleep" class="border-1 float-left mr-6 mb-4 w-25 h-25 rounded-full"/>
		<h1 class="text-2xl font-semibold">Steven Po</h1>
		<p>Undergraduate Student of Chinese University of Hong Kong</p>
		<p>Majoring in Computer Science</p>
	</header>
	<section id="about-me" class="container mx-auto p-6">
		<h2 class="text-xl font-semibold">About me</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deserunt numquam reprehenderit quae ipsum sequi corrupti incidunt laborum consequatur accusamus animi, asperiores sapiente doloribus optio. Dolor quia facere officia voluptatem!</p>
	</section>
	<section id="previous-works" class="container mx-auto p-6">
		<h2 class="text-xl font-semibold">Previous works</h2>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aut labore iure accusantium a reiciendis ipsa, ex dolor? Laborum expedita amet officiis tempore, nostrum iste. Molestiae fuga porro consectetur est!</p>
	</section>
  </body>
</html>